@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin: 0;
    font-family:'Oswald', sans-serif;
}

.main-login{
    width: 100vw; /*Largura da div*/
    height: 100vh; /*Altura da div*/
    background: #000820;/*Cor de fundo*/
    display: flex;/*colocar lado a lado*/
    justify-content: center;/*Centralizar*/
    align-items: center;/*Centralizar e descer*/
}
.left-login{
    width: 50vw; /*Largura da div*/
    height: 100vh; /*Altura da div*/
    display: flex;/*cor do fundo*/
    justify-content: center;/*Centralizar*/
    align-items: center;/*Centralizar e descer*/
    flex-direction: column;/*Descer o outro texto*/
}

.left-login h1{
    font-size: 3vw;
    color: #81DBFF; /*cor da fonte*/
}

.right-login{
    width: 50vw; /*Largura da div*/
    height: 100vh; /*Altura da div*/
    display:flex; /*colocar lado a lado*/
    justify-content: center; /*Centralizar*/
    align-items: center; /*Centralizar e descer*/
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #00435E;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #00000056; /*sombreamento da borda*/
}

.card-login h1{
    color: #81D8FF;/*cor da fonte*/
    font-weight: 800; /*espessura da fonte*/
    margin: 0;
}
.textfield{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* troca de eixos  */
	justify-content: center ; /* colocar um em baixo do outro */
	margin: 10px;
}
.textfield input{
	width: 100%;
	border: none;
	border-radius: 10px;
	padding: 15px;
	background: #226986;
	color: #81DBFF;
	font-size: 12pt;
	box-shadow: 0px 10px 40px #00000056;
	outline: none; /*Tira a caixa de texto quadrada do input*/
	box-sizing: border-box; /*deixar do tamanho da div*/
}
.textfield label{
    color: #81D8FF;
    margin-bottom: 1px;
}

.textfield input::placeholder{
    color: #f0ffff94;
}

.btn-login{
	width: 100%;
	padding: 16px 0px;
	margin: 25px;
	border: none;
	border-radius: 8px;	
	outline: none;
	text-transform: uppercase; /*Colocar as letras em maiusculo*/
	font-weight: 800; /*Deixar a fonte grossa*/
	letter-spacing: 2px; /*Espaçamento da fonte*/
	color: #004561;
	background:#81DBFF ;
	cursor: pointer;
	box-shadow: 0px 10px 40px rgb(100, 190, 226); /*sobra do botão*/
}
.btn-login:hover{
    background-color: #57bce4;
}

.img{
    width: 40vw;
}